

// ----------- Background Color -------------------
$primary-bg-1: #1d1c21;
// $primary-bg-1: #CBCBCB;
$primary-background-color2: white;

// =================  Text Color ================= 
$paragraph-text-color1:  #b0b0b0;
$paragraph-text-color2:  black;

// =================   Side bar and footer ========== 
$secondary-background-color1: #1a191e;
// $secondary-background-color: #408ab7;
$secondary-background-color2: #1d1c21;
/// ------------------   Pure Color ----------------
$color-white-black1: white;
$color-white-black2: black;


//// ==================== Link Color ===================
$link-main-color: white;

//  ==================== hover color ================
// $link-color: rgba(255, 255, 255, 0.5);
$link-color: #E4112F;