.container{
    margin: 7rem 0 6.5rem 0;
    padding-left: 2rem;
    h1{
        margin: 3.5rem 0 2rem 0;
        font-size: 4.5rem;
    }
    p{
        line-height: 1.6;
    }
}


@media screen and (max-width: 1000px) {
    .container{
        padding-left: 7rem;
    }
    
}
@media screen and (max-width: 770px) {
    .container{
        padding-left: 2rem;
    }
    
}


@media screen and (max-width: 500px) {
    .container {
      padding-left: 1.5rem;
    }
  }