.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    margin: 7rem 0 5rem 0;
}
@media screen and (max-width: 550px) {
    .container{
        margin: 8rem 0 5rem 0;
        align-items: center;
    }
  }