@import "../../../../app/styles/colors.module.scss";
.container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6.8rem 0 5rem 0;
  background-color: $secondary-background-color2;
  padding: 4rem 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  
  h1 {
    font-size: 2.2em;
    border-bottom: 2px solid #e4112f;
    padding-bottom: 10px;
    color: $link-main-color;
  }
  .desc {
    padding: 0 2.8rem;
    p {
      text-align: center;
    color: $link-main-color;

    }
  }

  @mixin Same-style($search-width, $search-height, $search-padding-left) {
    width: $search-width;
    height: $search-height;
    padding-left: $search-padding-left;
    // color: #6c757d;
    // background-color: $secondary-background-color;
    outline: none;
    border: 0.1rem solid #333139;
    margin: 3rem 0; 

    // font-weight: bold;
  }
  input {
    @include Same-style(30rem, 5rem, 1.5rem);
  }
}
