// @import "./styles/colors.module.scss";
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    // background-color: $primary-background-color1;
    z-index: 100;
}













