.container {
  width: 30%;
  height: 100%;
  // position: sticky;
  // top: 0;
  padding: 0 1rem 0 1rem;
}
@media screen and (max-width: 770px) {
  .container {
    width:100% ;
    padding: 0 1.5rem;
    margin: 3rem 0;
  }
}
// @media screen and (max-width: 550px) {
//   .container {
//     display: flex;
//   }
// }
