.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    margin: 5.5rem 0 5rem 0;
    padding-left: 1.5rem;
}
@media screen and (max-width: 1000px) {
    .container{
        margin: 8rem 0 5rem 0;
        align-items: center;
    }
  }
@media screen and (max-width: 550px) {
    .container{
        margin: 8rem 0 5rem 0;
        align-items: center;
        padding-left: .5rem;
    }
  }