@import "../../../app/styles/colors.module.scss";

.container {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0 7rem 6rem;
  height: 100vh;
  width: 26.3vw;
  background-color: $primary-bg-1;
  gap: 6.5rem;
  padding-top: 10rem;
  position: fixed;
  z-index: 1;
  top:0;
  opacity: .9;

  
  &.active{
    // left: 0;
    right: 0;
    display: flex;
    transition: all 6s ease;
  }

  .mainImage{
    height: 13rem;
    width: 15rem ;
  }
}

.links {
  display: flex;
  // text-align: center;
  flex-direction: column;
  gap: 1.9rem;
  .link {
    text-decoration: none;
    color: $link-main-color;
    font-weight: 500;
    font-size: 1.8rem;
    transition: 1s all ease;
    &:hover {
      color: $hover-color ;
      -webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          @-webkit-keyframes shake-vertical {
            0%,
            100% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
            }
            10%,
            30%,
            50%,
            70% {
              -webkit-transform: translateY(-1.7px);
                      transform: translateY(-1.7px);
            }
            20%,
            40%,
            60% {
              -webkit-transform: translateY(1.7px);
                      transform: translateY(1.7px);
            }
            80% {
              -webkit-transform: translateY(.7px);
                      transform: translateY(.7px);
            }
            90% {
              -webkit-transform: translateY(-.7px);
                      transform: translateY(-.7px);
            }
          }
          @keyframes shake-vertical {
            0%,
            100% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
            }
            10%,
            30%,
            50%,
            70% {
              -webkit-transform: translateY(-1.7px);
                      transform: translateY(-1.7px);
            }
            20%,
            40%,
            60% {
              -webkit-transform: translateY(1.7px);
                      transform: translateY(1.7px);
            }
            80% {
              -webkit-transform: translateY(.7px);
                      transform: translateY(.7px);
            }
            90% {
              -webkit-transform: translateY(-.7px);
                      transform: translateY(-.7px);
            }
          }

    }
  }
}
@media screen and (max-width: 1000px) {
  .container{
    display: none;
    position: fixed;
    top: 0;
    // left: -25.3vw;
    min-width: 40vw;
    z-index: 2;
    transition: all 1s ease;
    opacity: .9;
    gap: 0;
  padding-top: 0;
  }
  
}
@media screen and (max-width: 550px) {
  .container{
    min-width: 55vw; 
  }
  
}




